.portfolioDetail {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.longTitle .portfolioDetailHeader h1 {
  font-size: min(var(--j-display-txt-large), 110px);
  line-height: 0.9em;
}

.portfolioDetailHeader {
  padding: min(5vw, 70px);
}
.portfolioDetailHeader h1 {
  letter-spacing: -0.06em;
  font-size: var(--j-display-txt-large);
  line-height: 0.9em;
  word-break: break-word;
}
.portfolioDetailHeader .subtitle {
  margin: 0.2em 0;
  font-size: min(var(--j-display-txt-small), 60px);
  line-height: 1em;
}
.portfolioDetailHeader ul.tags {
  margin-top: 2em;
  font-size: var(--j-txt-large);
}
.portfolioDetailHeader ul.links {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.portfolioDetailHeader ul.links li a.link {
  display: inline-block;
  padding: 0.4em 1em;
  line-height: 1em;
  border: solid 1px black;
  border-radius: 0.4em;
}
.portfolioDetailHeader ul.links li a.link img {
  width: 2em;
  vertical-align: middle;
}
.portfolioDetailHeader ul.links li.dark a.link {
  color: var(--j-color-neutral-white);
  background-color: var(--j-color-neutral-black);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.portfolioDetailHeader ul.links li.dark a.link:hover {
  opacity: 1;
}

.portfolioContent .displayTxt {
  padding: min(8vw, 70px) min(10vw, 100px);
  font-size: var(--j-display-txt-xxsmall);
  line-height: 1.2em;
  letter-spacing: -0.05em;
  text-align: center;
}
.portfolioContent .displayTxt.dark {
  color: var(--j-color-neutral-white);
  background-color: var(--j-color-neutral-black);
}
.portfolioContent .txt {
  padding: 0 min(10vw, 100px);
  margin: min(10vw, 100px) 0;
  font-size: var(--j-txt-large);
  letter-spacing: -0.05em;
}
@media (min-width: 1024px) {
  .portfolioContent .txt p {
    text-align: justify;
  }
}
.portfolioContent .txt + .txt {
  margin-top: 0;
}
.portfolioContent .txt h2 {
  margin: 1em 0;
  line-height: 1.2em;
}
.portfolioContent .txt.dark {
  padding: 8vw 10vw;
  margin: 0;
  color: var(--j-color-neutral-white);
  background-color: var(--j-color-neutral-darker);
}
.portfolioContent .txt.gray {
  padding: min(8vw, 70px) min(10vw, 100px);
  margin: 0;
  background-color: var(--j-color-neutral-lighter);
}
.portfolioContent .txt ul {
  margin-top: 2.5em;
}
.portfolioContent .txt ul li {
  position: relative;
  padding-left: 1.2em;
  margin: 0.8em 0;
  font-size: var(--j-txt-normal);
  font-weight: lighter;
  line-height: 1.4em;
}
.portfolioContent .txt ul li:before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0.2em;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}
.portfolioContent .txt ul li:before {
  background-color: #000;
}
.portfolioContent .gridCell.imgCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolioContent .gridCell.imgCenter img {
  min-width: auto;
}
.portfolioContent .gridCell.imgCenter.logo {
  padding: 50px;
}
.portfolioContent .gridCell.imgCenter.logo img {
  max-width: 250px;
  max-height: 250px;
}
.portfolioContent .gridCell.imgCenter.mobileScreenshot {
  padding: 50px 10%;
  background-color: var(--j-color-neutral-lighter);
}
.portfolioContent .gridCell.imgCenter.mobileScreenshot img {
  max-width: 30vw;
  max-height: 40vh;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.portfolioContent .gridCell.imgCenter.screenshot {
  padding: min(4vw, 50px);
  background-color: var(--j-color-neutral-lighter);
}
.portfolioContent .gridCell.imgCenter.img3 {
  justify-content: space-between;
}
.portfolioContent .gridCell.imgCenter.img3 img {
  width: 32%;
}

/*# sourceMappingURL=PortfolioDetail.css.map */
