.portfolioDetail {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.longTitle .portfolioDetailHeader h1 {
  font-size: min(var(--j-display-txt-large), 110px);
  line-height: 0.9em;
}

.portfolioDetailHeader {
  padding: min(5vw, 70px);
  h1 {
    letter-spacing: -0.06em;
    //font-size: var(--j-display-txt-large);
    //font-size: min(var(--j-display-txt-large), 130px);
    font-size: var(--j-display-txt-large);
    line-height: 0.9em;
    word-break: break-word;
  }
  .subtitle {
    margin: 0.2em 0;
    font-size: min(var(--j-display-txt-small), 60px);
    line-height: 1.0em;
  }

  ul.tags {
    margin-top:2em;
    font-size: var(--j-txt-large);
  }

  ul.links {
    display: flex;
    justify-content: flex-end;
    margin-top:1em;
    li {
      a.link {
        display: inline-block;
        padding: 0.4em 1em;
        line-height: 1em;
        //vertical-align: center;
        border: solid 1px black;
        border-radius: 0.4em;
        img {
          width: 2em;
          vertical-align: middle;
        }
      }
      &.dark {
        a.link {
          color: var(--j-color-neutral-white);
          background-color: var(--j-color-neutral-black);
          opacity: 0.7;
          transition: opacity 0.3s ease-in-out;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

}

.portfolioContent {
  //grid-auto-rows: 250px;
  .displayTxt {
    padding: min(8vw, 70px) min(10vw, 100px);
    font-size: var(--j-display-txt-xxsmall);
    line-height: 1.2em;
    letter-spacing: -0.05em;
    text-align: center;
    &.dark{
      color: var(--j-color-neutral-white);
      background-color: var(--j-color-neutral-black);
    }
  }
  .txt {
    padding: 0 min(10vw, 100px);
    margin: min(10vw, 100px) 0;
    font-size: var(--j-txt-large);
    letter-spacing: -0.05em;
    //line-height: 1.2em;
    @media (min-width: 1024px) {
      p {
        text-align: justify;
      }
    }
    & + .txt {
      //background-color: red;
      //padding-top: 0;
      margin-top: 0;
    }
    h2 {
      margin: 1em 0;
      line-height: 1.2em;
    }
    &.dark{
      padding: 8vw 10vw;
      margin: 0;
      color: var(--j-color-neutral-white);
      background-color: var(--j-color-neutral-darker);
    }
    &.gray{
      padding: min(8vw, 70px) min(10vw, 100px);
      margin: 0;
      background-color: var(--j-color-neutral-lighter);
    }

    ul {
      margin-top: 2.5em;
      li {
        position: relative;
        padding-left: 1.2em;
        margin: 0.8em 0;
        font-size: var(--j-txt-normal);
        font-weight: lighter;
        line-height: 1.4em;
      }

      li:before {
        content: "";
        position: absolute;
        top: 0.6em;
        left: 0.2em;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        background-color: #000;
        border-radius: 50%;
      }

      li:before {
        background-color: #000;
      }
    }
  }
  //.txt.c21{ margin-bottom: 5vw;}
  .gridCell.imgCenter {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-width: auto;
    }

    &.logo {
      padding: 50px;
      img{
        max-width: 250px;
        max-height: 250px;
      }
    }
    &.mobileScreenshot {
      padding: 50px 10%;
      background-color: var(--j-color-neutral-lighter);
      img {
        max-width: 30vw;
        max-height: 40vh;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
      }
    }
    &.screenshot {
      padding: 50px;
      background-color: var(--j-color-neutral-lighter);
    }
    &.img3 {
      justify-content: space-between;
      img {
        width: 32%;
      }
    }
  }
}

