#portfolios {
  padding: 10em 0;
  background-image: url("../../public/images/portfolios/bg.jpg");
  background-size: cover;
  background-color: var(--j-color-background-portfolios);
}
#portfolios .sectionHeader {
  color: var(--j-color-neutral-white);
}
@media (max-width: 734px) {
  #portfolios {
    padding-bottom: 0.5em;
  }
}

.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--j-color-neutral-black);
  text-align: left;
  background-color: var(--j-color-neutral-white);
  overflow: hidden;
  cursor: pointer;
  transition: filter ease-in-out 0.8s, box-shadow ease-in-out 0.8s, transform cubic-bezier(0.7, 0, 0.3, 1) 0.3s;
}
.portfolio .thumbnail {
  z-index: 200;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  transition: all cubic-bezier(0.7, 0, 0.3, 1) 0.7s;
  pointer-events: none;
}
.portfolio .thumbnail img {
  max-width: 50%;
  max-height: 100%;
}
.portfolio .thumbnail:before, .portfolio .thumbnail:after {
  display: block;
  content: "";
  position: absolute;
  opacity: 0.1;
  border-radius: 50%;
}
.portfolio .thumbnail:before {
  right: 0;
  top: 0;
  width: 160px;
  height: 160px;
  border: solid 2px black;
  transform: translate(40%, -50%);
}
.portfolio .thumbnail:after {
  right: 7%;
  top: 15%;
  width: 50px;
  height: 50px;
  background-color: black;
}
.portfolio .content {
  z-index: 300;
  position: absolute;
  right: 0;
  padding: 2rem;
  top: 50%;
  width: 60%;
  max-height: 100%;
  transform: translateY(-50%);
  transition: all cubic-bezier(0.7, 0, 0.3, 1) 0.7s 0.05s;
  overflow: hidden;
}
.portfolio .content .subtitle {
  padding: 0.1em 0em;
  font-size: var(--j-txt-xsmall);
  display: inline-block;
}
.portfolio .content .title {
  margin: 0.2em 0 0.6em 0;
  font-size: var(--j-txt-xxxlarge);
  letter-spacing: -0.03em;
  line-height: 0.9em;
  font-weight: bold;
}
.portfolio .content .tags {
  font-size: var(--j-txt-min);
}
.portfolio .button {
  z-index: 500;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  min-width: 150px;
  height: 100%;
  padding: 1.5em;
  opacity: 0;
  transform: translateX(100%);
  transition: all cubic-bezier(0.7, 0, 0.3, 1) 0.7s;
}
.portfolio .button .more {
  width: 100%;
  height: 100%;
}
.portfolio .button .more .comment {
  margin-top: 1.6em;
  font-size: var(--j-txt-normal);
  font-weight: normal;
  line-height: 1.3em;
}
.portfolio .button .more h4:first-child {
  margin-top: 0;
}
.portfolio .button .more:before {
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  padding: 5px 0;
  height: 100%;
  box-sizing: content-box;
  border-color: var(--j-color-background-portfolios);
  border-width: 0;
  border-style: dotted;
}
.portfolio .viewDetailTxt {
  z-index: 600;
  position: absolute;
  right: 4em;
  bottom: 0.8em;
  font-size: var(--j-txt-small);
  color: var(--j-color-neutral-black);
  opacity: 0;
  transform-origin: right;
  transition: all cubic-bezier(0.7, 0, 0.3, 1) 0.4s 0.6s;
  white-space: nowrap;
  pointer-events: none;
}
.portfolio .viewDetailIcon {
  z-index: 600;
  position: absolute;
  right: 0.8em;
  bottom: 0.8em;
  scale: 0.7;
  opacity: 0.3;
  rotate: 45deg;
  transition: all cubic-bezier(0.7, 0, 0.3, 1) 0.7s 0.5s;
}
.portfolio.darkColor .button .more .comment {
  color: var(--j-color-neutral-white);
}
.portfolio.darkColor .viewDetailTxt {
  color: var(--j-color-neutral-white);
}
.portfolio.darkColor:hover .viewDetailIcon path, .portfolio.darkColor:focus .viewDetailIcon path {
  stroke: var(--j-color-neutral-white);
}
.portfolio:hover .content, .portfolio:focus .content {
  transform: translate(-60%, -50%);
}
.portfolio:hover .thumbnail, .portfolio:focus .thumbnail {
  transform: translateX(-30%);
  opacity: 0;
}
.portfolio:hover .button, .portfolio:focus .button {
  opacity: 1;
  transform: translateX(0);
}
.portfolio:hover .viewDetailTxt, .portfolio:focus .viewDetailTxt {
  opacity: 1;
  right: 2.5em;
}
.portfolio:hover .viewDetailIcon, .portfolio:focus .viewDetailIcon {
  opacity: 1;
  rotate: -45deg;
}
.portfolio:hover .viewDetailIcon path, .portfolio:focus .viewDetailIcon path {
  transition: all cubic-bezier(0.7, 0, 0.3, 1) 0.7s 0.05s;
}
.portfolio.gridC1.gridR1 .button {
  color: var(--j-color-neutral-white);
}
@media (max-width: 1024px) {
  .portfolio.gridC1.gridR1 {
    grid-column: span 2;
  }
}
@media (min-width: 1025px) {
  .portfolio.gridC1.gridR1 .title {
    font-size: 2.5em;
  }
  .portfolio.gridC1.gridR1.longTitle .title {
    font-size: 2em;
  }
  .portfolio.gridC1.gridR1.longTitle .comment {
    display: none;
  }
  .portfolio.gridC1.gridR1.noComment .comment {
    display: none;
  }
  .portfolio.gridC1.gridR1 .thumbnail {
    justify-content: center;
  }
  .portfolio.gridC1.gridR1 .thumbnail img {
    max-width: 100%;
  }
  .portfolio.gridC1.gridR1 .thumbnail:before {
    display: block;
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    width: 200px;
    height: 200px;
    transform: translate(-60%, -70%);
    opacity: 0.1;
    border-radius: 50%;
  }
  .portfolio.gridC1.gridR1 .thumbnail:after {
    display: block;
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    transform: translate(40%, 50%);
    opacity: 0.1;
  }
  .portfolio.gridC1.gridR1 .content {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .portfolio.gridC1.gridR1 .content .tags {
    padding-right: 3em;
  }
  .portfolio.gridC1.gridR1 .button {
    rotate: 45deg;
    right: -80px;
    bottom: -100px;
    transform: translateX(100%);
  }
  .portfolio.gridC1.gridR1 .button .tagsTitle, .portfolio.gridC1.gridR1 .button .tags, .portfolio.gridC1.gridR1 .button .comment {
    display: none;
  }
  .portfolio.gridC1.gridR1 .viewDetailTxt {
    right: 1.5em;
    bottom: 5em;
    rotate: -45deg;
  }
  .portfolio.gridC1.gridR1:hover .button, .portfolio.gridC1.gridR1:focus .button {
    transform: translateX(0);
  }
  .portfolio.gridC1.gridR1:hover .thumbnail, .portfolio.gridC1.gridR1:focus .thumbnail {
    transform: translateX(0);
    opacity: 0;
    scale: 0.6;
  }
  .portfolio.gridC1.gridR1:hover .content, .portfolio.gridC1.gridR1:focus .content {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
@media (max-width: 1024px) {
  .portfolio.gridC1.gridR2 {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media (min-width: 1025px) {
  .portfolio.gridC1.gridR2.longTitle .title {
    font-size: 2em;
  }
  .portfolio.gridC1.gridR2 .thumbnail {
    align-items: flex-start;
    transform-origin: right top;
  }
  .portfolio.gridC1.gridR2 .thumbnail img {
    max-width: 100%;
  }
  .portfolio.gridC1.gridR2 .thumbnail:before, .portfolio.gridC1.gridR2 .thumbnail:after {
    display: block;
    content: "";
    position: absolute;
    opacity: 0.1;
    border-radius: 50%;
  }
  .portfolio.gridC1.gridR2 .thumbnail:before {
    left: -40%;
    bottom: -20%;
    width: 260px;
    height: 260px;
    border: solid 2px black;
  }
  .portfolio.gridC1.gridR2 .thumbnail:after {
    right: -14%;
    top: -15%;
    width: 150px;
    height: 150px;
    background-color: black;
  }
  .portfolio.gridC1.gridR2 .content {
    width: 100%;
    transform: translateY(-10%);
    overflow: hidden;
  }
  .portfolio.gridC1.gridR2 .button {
    width: 100%;
    height: 30%;
    min-height: 100px;
    transform: translateY(100%);
  }
  .portfolio.gridC1.gridR2:hover .content, .portfolio.gridC1.gridR2:focus .content {
    transform: translate(0, -70%);
  }
  .portfolio.gridC1.gridR2:hover .thumbnail, .portfolio.gridC1.gridR2:focus .thumbnail {
    opacity: 1;
    scale: 0.6;
    transform: translateX(0);
  }
  .portfolio.gridC1.gridR2:hover .button, .portfolio.gridC1.gridR2:focus .button {
    transform: translateY(0);
  }
}
.portfolio:hover.gridC2 .buttons button.viewDetails, .portfolio:hover.gridC3 .buttons button.viewDetails, .portfolio:hover.gridC4 .buttons button.viewDetails, .portfolio:focus.gridC2 .buttons button.viewDetails, .portfolio:focus.gridC3 .buttons button.viewDetails, .portfolio:focus.gridC4 .buttons button.viewDetails {
  width: 500px;
  height: 500px;
}

.portfoliosGrid {
  position: relative;
  display: grid;
  grid-auto-rows: 17em;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875em;
  /*    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . .";*/
  padding: 30px;
  margin: 0 auto;
  max-width: var(--j-width-content-basic);
}
@media (max-width: 1024px) {
  .portfoliosGrid {
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    /*      grid-template-areas:
          ". m2"
          ". ."
          ". ."
          ". ."
          ". .";*/
  }
}
@media (max-width: 734px) {
  .portfoliosGrid {
    padding: 0;
    gap: 0.5em;
    grid-template-columns: repeat(1, 1fr);
  }
  .portfoliosGrid .thumbnail img {
    max-width: 35%;
  }
  .portfoliosGrid .portfolio .content {
    width: 70%;
  }
  .portfoliosGrid .portfolio:hover .content, .portfoliosGrid .portfolio:focus .content {
    transform: translate(-40%, -50%);
  }
}

/*# sourceMappingURL=Portfolios.css.map */
