#portfolios {
  padding: 10em 0;
  background-image: url("../../public/images/portfolios/bg.jpg");
  background-size: cover;
  //background-blend-mode: multiply;

  background-color: var(--j-color-background-portfolios);
  //transform: rotate3d(0, 0, 3, 45deg) ;
  .sectionHeader {
    color: var(--j-color-neutral-white);
    //color:white;
  }

  @media (max-width: 734px) {
    padding-bottom: 0.5em;
  }
}

//portfolio S
.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  //border-radius: 1rem;
  color: var(--j-color-neutral-black);
  text-align: left;
  background-color: var(--j-color-neutral-white);
  overflow: hidden;
  cursor: pointer;

  //filter: saturate(0) contrast(1) brightness(0.9);
  //background-color: var(--j-color-primary);
  //box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: filter ease-in-out 0.8s, box-shadow ease-in-out 0.8s, transform cubic-bezier(.7, 0, .3, 1) 0.3s;

  .thumbnail {
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    //justify-content: center;
    justify-content: left;
    align-items: center;
    //padding-top: 100%;
    //background-size: auto 100%;
    //background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all cubic-bezier(.7, 0, .3, 1) 0.7s;
    //mix-blend-mode: multiply;
    pointer-events: none;

    img {
      //min-width: 100%;
      max-width: 50%;
      //min-height: 100%;
      max-height: 100%;
      //aspect-ratio: 1 / 1;
      //filter: grayscale(100%)/* contrast(90%)*/;
    }

    &:before, &:after {
      display: block;
      content: "";
      position: absolute;
      opacity: 0.1;
      border-radius: 50%;
    }

    &:before {
      right: 0;
      top: 0;
      width: 160px;
      height: 160px;
      border: solid 2px black;
      transform: translate(40%, -50%);
    }

    &:after {
      right: 7%;
      top: 15%;
      width: 50px;
      height: 50px;
      background-color: black;
    }

  }

  .content {
    z-index: 300;
    position: absolute;
    right: 0;
    padding: 2rem;
    top: 50%;
    width: 60%;
    max-height: 100%;
    transform: translateY(-50%);
    transition: all cubic-bezier(.7, 0, .3, 1) 0.7s 0.05s;
    overflow: hidden;

    .subtitle {
      padding: 0.1em 0.0em;
      //border:solid 1px var(--j-color-neutral-black);
      //border-radius: 0.3em;
      //letter-spacing: -0.05em;
      //color:var(--j-color-neutral-white);
      //background-color: var(--j-color-neutral-black);
      //border-bottom: solid 1px black;
      font-size: var(--j-txt-xsmall);
      display: inline-block;
    }

    .title {
      margin: 0.2em 0 0.6em 0;
      font-size: var(--j-txt-xxxlarge);
      letter-spacing: -0.03em;
      line-height: 0.9em;
      font-weight: bold;
    }

    .tags {
      font-size: var(--j-txt-min);
    }

    .tagsTitle {
      //margin-top: 1em;
      //text-align: left;
      //letter-spacing: -0.05em;
    }
  }

  .button {
    z-index: 500;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    min-width: 150px;
    height: 100%;
    padding: 1.5em;
    opacity: 0;
    //cursor: pointer;

    transform: translateX(100%);
    transition: all cubic-bezier(.7, 0, .3, 1) 0.7s;

    .more {
      width: 100%;
      height: 100%;
      .comment {
        margin-top: 1.6em;
        font-size: var(--j-txt-normal);
        font-weight: normal;
        line-height: 1.3em;
      }

      h4:first-child {
        margin-top: 0;
      }

      &:before { //eff dotted line
        display: block;
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        padding: 5px 0;
        height: 100%;
        box-sizing: content-box;
        border-color: var(--j-color-background-portfolios);
        border-width: 0;
        border-style: dotted;
      }
    }
  }

  .viewDetailTxt {
    z-index: 600;
    position: absolute;
    right: 4em;
    bottom: 0.8em;
    font-size: var(--j-txt-small);
    color: var(--j-color-neutral-black);
    opacity: 0;
    transform-origin: right;
    transition: all cubic-bezier(.7, 0, .3, 1) 0.4s 0.6s;
    white-space: nowrap;
    pointer-events: none;
  }

  .viewDetailIcon {
    z-index: 600;
    position: absolute;
    right: 0.8em;
    bottom: 0.8em;
    scale: 0.7;
    opacity: 0.3;
    rotate: 45deg;
    transition: all cubic-bezier(.7, 0, .3, 1) 0.7s 0.5s;
    //pointer-events: none;
  }

  &.darkColor {
    .button .more .comment {
      color: var(--j-color-neutral-white);
    }
    .viewDetailTxt {
      color: var(--j-color-neutral-white);
    }
    &:hover, &:focus{
      .viewDetailIcon {
        path {
          stroke: var(--j-color-neutral-white);
        }
      }
    }
  }

  //Portfolio Hover
  &:hover, &:focus {

    .content {
      transform: translate(-60%, -50%);
    }

    .thumbnail {
      transform: translateX(-30%);
      opacity: 0;
    }

    .button {
      opacity: 1;
      transform: translateX(0);
    }

    .viewDetailTxt {
      opacity: 1;
      right: 2.5em;
    }

    .viewDetailIcon {
      opacity: 1;
      rotate: -45deg;
      path {
        transition: all cubic-bezier(.7, 0, .3, 1) 0.7s 0.05s;
      }
    }
  }

  //grid
  //1x1
  &.gridC1.gridR1 {
    .content {
    }
    .button {
      //color: var(--j-color-neutral-white);
    }
  }

  @media (max-width: 1024px) {
    &.gridC1.gridR1 {grid-column: span 2;}
  }
  @media (min-width: 1025px) {
    &.gridC1.gridR1 {
      .title {
        font-size: 2.5em;
      }
      &.longTitle {
        .title {
          font-size: 2em;
        }
        .comment {
          display: none;
        }
      }
      &.noComment .comment {
        display: none;
      }
      .more:before {
      //border-left-width: 10px;
      }

      .thumbnail {
        justify-content: center;
        img {
          max-width: 100%;
        }

        &:before {
          display: block;
          content: "";
          z-index: 2;
          position: absolute;
          left: 0;
          width: 200px;
          height: 200px;
          //background-color: black;
          transform: translate(-60%, -70%);
          opacity: 0.1;
          border-radius: 50%;
        }

        &:after {
          display: block;
          content: "";
          position: absolute;
          top: auto;
          right: 0;
          bottom: 0;
          width: 100px;
          height: 100px;
          transform: translate(40%, 50%);
          opacity: 0.1;
        }
      }

      .content {
        width: 100%;
        height: 100%;
        opacity: 0;
        //background-color: var(--j-color-neutral-white-5);
        .tags {
          padding-right: 3em;
        }
      }

      .button {
        rotate: 45deg;
        right: -80px;
        bottom: -100px;
        transform: translateX(100%);
        .tagsTitle, .tags, .comment {
          display: none;
        }
      }

      .viewDetailTxt {
        right: 1.5em;
        bottom: 5em;
        rotate: -45deg;
        //color: var(--j-color-neutral-white);
      }

      &:hover, &:focus {
        .button {
          transform: translateX(0);
        }

        .thumbnail {
          transform: translateX(0);
          opacity: 0;
          scale: 0.6;
        }

        .content {
          opacity: 1;
          transform: translate(0, -50%);
          //transform: translate(0, 0);
          //backdrop-filter: blur(5px);
        }
      }
    }
  }

  @media (max-width: 734px) {
    &.gridC1.gridR1 {
      //grid-column: span 1;
      //grid-row: span 1;
    }
  }

  //2x1
  &.gridC2.gridR1 {
    .more:before {
      //border-left-width: 10px;
    }
  }

  @media (max-width: 734px) {
    &.gridC2.gridR1 {
      //grid-column: span 1;
      //grid-row: span 1;
    }
  }

  //1x2
  &.gridC1.gridR2 {
  }

  @media (max-width: 1024px) {
    &.gridC1.gridR2 {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
  @media (min-width: 1025px) {
    &.gridC1.gridR2 {
      &.longTitle .title {
        font-size: 2em;
      }
      .more:before {
        //width: 100%;
        //height: 0;
        //border-top-width: 10px;
      }

      .thumbnail {
        align-items: flex-start;
        transform-origin: right top;
        img {
          max-width: 100%;
        }

        &:before, &:after {
          display: block;
          content: "";
          position: absolute;
          opacity: 0.1;
          border-radius: 50%;
        }

        &:before {
          left: -40%;
          bottom: -20%;
          width: 260px;
          height: 260px;
          border: solid 2px black;
        }

        &:after {
          right: -14%;
          top: -15%;
          width: 150px;
          height: 150px;
          background-color: black;
        }
      }

      .content {
        width: 100%;
        transform: translateY(-10%);
        overflow: hidden;
      }

      .button {
        //right: 0;
        //bottom: -100%;
        width: 100%;
        height: 30%;
        min-height: 100px;
        transform: translateY(100%);
      }

      &:hover, &:focus {

        .content {
          transform: translate(0, -70%);
        }

        .thumbnail {
          opacity: 1;
          scale: 0.6;
          transform: translateX(0);
        }

        .button {
          transform: translateY(0);
        }
      }
    }
  }
  @media (max-width: 734px) {
    &.gridC1.gridR2 {
      //grid-column: span 1;
      //grid-row: span 1;
    }
  }

  .buttons {
    //z-index: 20;
    //position: absolute;
    //right: 30px;
    //bottom: 30px;
    ////display: flex;
    ////justify-content: center;
    ////align-items: center;
    ////transform: translate(-50%, -50%);
    //
    //button.viewDetails {
    //  color: var(--j-color-neutral-black);
    //  cursor: pointer;
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  width: 30px;
    //  height: 30px;
    //  border-radius: 50%;
    //  //aspect-ratio: 1 / 1;
    //  //color: white;
    //  background-color: white;
    //  font-size: 0;
    //  //opacity: 0.6;
    //  transform: translate(-50%, -50%);
    //  transition: all cubic-bezier(.7, 0, .3, 1) 0.7s;
    //
    //  img, svg {
    //    opacity: 0;
    //    scale: 0.1;
    //    transition: all cubic-bezier(.7, 0, .3, 1) 0.5s 0.1s;
    //  }
    //}
  }

  &:hover, &:focus {
    //transform: translate(-1px, -3px);
    //box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
    //filter: saturate(1);

    .buttons {
      //button.viewDetails {
      //  width: 300px;
      //  height: 300px;
      //
      //  img, svg {
      //  }
      //
      //  &:hover {
      //    //opacity: 1;
      //    img, svg {
      //      scale: 1.2;
      //      opacity: 1;
      //      rotate: -45deg;
      //    }
      //  }
      //}
    }

    &.gridC2, &.gridC3, &.gridC4 {
      .buttons {
        button.viewDetails {
          width: 500px;
          height: 500px;
        }
      }
    }
  }


}
//portfolio E

//portfoliosGrid
.portfoliosGrid {
  position: relative;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
  display: grid;
  grid-auto-rows: 17em;
  //grid-auto-flow: dense;
  grid-template-columns: repeat(3, 1fr);

  //grid-template-rows: 1fr 1fr 1fr;
  //grid-template-rows: repeat(auto-fit, 300px);
  gap: 1.875em;
  /*    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . .";*/
  //gap: 2rem;
  padding:30px;
  margin: 0 auto;
  max-width: var(--j-width-content-basic);
  //overflow: hidden;

  @media (max-width: 1024px) {
    padding:30px;
    //grid-auto-flow: row;
    //grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    /*      grid-template-areas:
          ". m2"
          ". ."
          ". ."
          ". ."
          ". .";*/
  }

  @media (max-width: 734px) {
    padding:0;
    //grid-auto-flow: row;
    //grid-auto-flow: column;
    gap: 0.5em;
    grid-template-columns: repeat(1, 1fr);
    .portfolio .content .title {
      //font-size: var(--j-txt-xlarge);
    }
    .portfolio .content {
      //width: 70%;
    }
    .thumbnail {
      img {
        max-width: 35%;
      }
    }
    .portfolio .content {
      width: 70%;
    }
    .portfolio:hover, .portfolio:focus {
      .content {
        transform: translate(-40%, -50%);
      }
    }
  }
  //@media (min-width: 1280px) {
  //  & {
  //    grid-auto-rows: 270px;
  //    grid-auto-flow: dense;
  //    grid-template-columns: repeat(4, 1fr);
  //    max-width: 1280px;
  //  }
  //}
}


//.portfolioPages {
//  @for $i from 1 through 5 {
//    .portfolioPages:nth-child(#{$i}){
//      //animation-delay: -$i * .2s;
//    }
//  }
//}


//.portfolioContentContainer {
//  z-index: 1;
//  position: relative;
//  pointer-events: none;
//  z-index: 20;
//  position: relative;
//  width: 100%;
//  height:100%;
//  overflow: hidden;
//  transition: all ease-in-out 0.6s;
//
//  @media (max-width: 1024px) {
//    .thumbnail {
//    }
//  }
//
//  @media (max-width: 768px) {
//    .thumbnail {
//      height: 30vh;
//    }
//  }
//
//  @media (max-width: 768px) {
//    .content {
//      text-align: center;
//    }
//    .tags {
//      justify-content: center;
//    }
//  }
//
//  &:hover {
//
//    .thumbnail>.screenshot>img {
//      filter: grayscale(0);
//    }
//  }
//
//}
